.write{
    padding-top: 50px;

}
.writeform{
    position: relative;
}
.writeformGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon{
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    color: rgb(128, 132, 132);
    cursor: pointer;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 10px;
    width: 70vw;
    /* viewport */
}
.writeInput:focus{
    outline: none;

}
.writeText{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.writeImg{
    padding: 10px;
    width: 70vw;
    border-radius: 30px;
    object-fit: cover;
    margin-left: 150px;

}